<a href="https://colab.research.google.com/github/hargurjeet/hpe/blob/main/Problem1_Time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
## Importing all the requeired libraries

# For data preprocessing
import pandas as pd
import numpy as np
from collections import Counter
import datetime as dt

# To build visualizations
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import plotly.express as px
import plotly.graph_objects as go
import scipy.stats
import pylab

# Librareis for building pipelines
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.impute import SimpleImputer

# To build ML models
from sklearn.model_selection import train_test_split, KFold, cross_val_score, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC
import lightgbm as lgb
from sklearn.metrics import accuracy_score,classification_report
from sklearn.neighbors import KNeighborsRegressor
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB

In [90]:
df = pd.read_csv('https://raw.githubusercontent.com/hargurjeet/hpe/main/Problem1.csv')
df.head()

      SKU    DATE  #Units
0  SKU-01  Nov-11   1,412
1  SKU-01  Feb-12     915
2  SKU-01  May-12   1,182
3  SKU-01  Aug-12   1,261
4  SKU-01  Nov-12   1,366

In [91]:
df_sku_1=df[df.SKU=='SKU-01'].drop('SKU', axis=1)
df_sku_2=df[df.SKU=='SKU-02'].drop('SKU', axis=1)

In [92]:
df_sku_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE      13 non-null     object
 1    #Units   13 non-null     object
dtypes: object(2)
memory usage: 312.0+ bytes

In [93]:
df_sku_1.columns

Index(['DATE', ' #Units '], dtype='object')

In [94]:
# Function to convert Date to valid format

def data_converstion(df):
  df[['Month','Year']] = df['DATE'].str.split('-',expand=True)
  df.Year = '20' + df.Year
  df['DATE'] = df.Month + '-' + df.Year 
  df.DATE = pd.to_datetime(df.DATE).dt.strftime('%d-%m-%Y')
  df = df[['DATE', ' #Units ']]
  return df

sku1 = data_converstion(df_sku_1)
sku2 = data_converstion(df_sku_2)

In [95]:
sku1.head()

         DATE  #Units
0  01-11-2011   1,412
1  01-02-2012     915
2  01-05-2012   1,182
3  01-08-2012   1,261
4  01-11-2012   1,366

In [96]:
sku2.head()

          DATE  #Units
13  01-11-2011   2,633
14  01-02-2012   1,193
15  01-05-2012   2,270
16  01-08-2012   1,593
17  01-11-2012   1,652